<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <button><a href="host/hc">Búsqueda</a></button>
        <button><a href="host/newEntry">Nueva Entrada</a></button>
        <button><a href="host/vaccine">Vacunas</a></button>
    </div>
    <div class="paciente">
        <img src="#" alt="foto">
        <div>
            <ul>
                <li>Nombre: Pingolo</li>
                <li>Edad: 3 años</li>
                <li>Dueño: Claudia</li>
                <li>Raza: Callejero</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>Medicación: Enalapril</li>
                <li>Cirugia: Sí</li>
            </ul>
        </div>
        <div>
            <h3>Ultima Consulta</h3>
            <p>Motivo: Consulta anual</p>
            <p>Fecha: 3/5/2020</p>
            <p>Descripcion: Paciente concurre a la consulta anual. Se le diagnostica HTA. Se le administra Enalapril y
                regresar en una semana para ver la evolución.</p>
            <p>Diagnóstico: HTA</p>
            <p>Tratamiento: Enalapril</p>
        </div>
        <div>
            <p>Motivo: Consulta anual</p>
            <p>Fecha: 3/5/2020</p>
            <p>Descripcion: Paciente concurre a la consulta anual. Se le diagnostica HTA. Se le administra Enalapril y
                regresar en una semana para ver la evolución.</p>
            <p>Diagnóstico: HTA</p>
            <p>Tratamiento: Enalapril</p>
        </div>
        <div>
            <p>Motivo: Consulta anual</p>
            <p>Fecha: 3/5/2020</p>
            <p>Descripcion: Paciente concurre a la consulta anual. Se le diagnostica HTA. Se le administra Enalapril y
                regresar en una semana para ver la evolución.</p>
            <p>Diagnóstico: HTA</p>
            <p>Tratamiento: Enalapril</p>
        </div>
        <div>
            <p>Motivo: Consulta anual</p>
            <p>Fecha: 3/5/2020</p>
            <p>Descripcion: Paciente concurre a la consulta anual. Se le diagnostica HTA. Se le administra Enalapril y
                regresar en una semana para ver la evolución.</p>
            <p>Diagnóstico: HTA</p>
            <p>Tratamiento: Enalapril</p>
        </div>
        <div>
            <p>Motivo: Consulta anual</p>
            <p>Fecha: 3/5/2020</p>
            <p>Descripcion: Paciente concurre a la consulta anual. Se le diagnostica HTA. Se le administra Enalapril y
                regresar en una semana para ver la evolución.</p>
            <p>Diagnóstico: HTA</p>
            <p>Tratamiento: Enalapril</p>
        </div>
    </div>
</body>

</html>