/* reference
color titulo #622569
color navegacion #ffef96
*/
* {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #f4e1d2;
}

.title {
  font-size: 30px;
  text-align: center;
  color: #622569;
}

.main {
  font-size: 50px;
}

.nav-content,
.nav-content ul {
  background-color: #ffef96;
  display: none;
}

.slider .one {
  width: 100%;
}

.slider .img .two,
.slider .img .three {
  display: none;
}

.cat {
  float: right;
  width: 45%;
}

.about .image {
  width: 45%;
  float: left;
}

.product {
  border: black solid 1px;
  text-align: center;
}

.product .image {
  width: 60%;
}
