<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="host/paciente" method="post">
        <div>
            <label for="reason">Motivo</label>
            <input type="text" name="reason" id="reason">
        </div>
        <div>
            <label for="date">Fecha</label>
            <input type="date" name="date" id="date">
        </div>
        <div>
            <label for="description">Descripcion</label>
            <input type="text" name="description" id="description">
        </div>
        <div>
            <label for="dg">Diagnóstico</label>
            <input type="text" name="dg" id="dg">
        </div>
        <div>
            <label for="tto">Tratamiento</label>
            <input type="text" name="tto" id="tto">
        </div>
        <div>
            <label for="vac">Vacunas:</label>
            <input type="checkbox" name="vac" id="vac">
        </div>
        <button>Enviar</button>
    </form>
</body>

</html>