<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria Pepe</title>
</head>
<body>
    <header>
        <div class="logo-content">
            <img src="#" alt="logo" class="icon logo">
        </div>
        <div class="search-content">
            <input type="text" placeholder="Buscar" class="search bar">
            <img src="#" alt="search">
        </div>
        <div class="icons-content">
            <img src="#" alt="user" class="icon user">
            <img src="#" alt="cart" class="icon cart">
        </div>
        <nav id="nav">
            <li class="nav-bar">
                <ul>Home</ul>
                <ul>Registrarse</ul>
                <ul>Productos</ul>
                <ul>Turnos</ul>
                <ul>Historia Clínica</ul>
            </li>
        </nav>
    </header>
</body>
</html>