<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/index.css">
    <title>Veterinaria Pepe</title>
</head>

<body>
    <header>
        <div class="logo-content">
            <img src="#" alt="logo" class="icon logo">
        </div>
        <div class="search-content">
            <input type="text" placeholder="Buscar" class="search bar">
            <img src="#" alt="search">
        </div>
        <div class="icons-content">
            <img src="#" alt="user" class="icon user">
            <img src="#" alt="cart" class="icon cart">
        </div>
        <img src="#" alt="burger" class="icon burger">
        <h1 class="title main">Veterinaria Pepe</h1>
        <nav id="nav">

            <li class="nav-bar">
                <div class="nav-content">
                    <ul>Home</ul>
                    <ul>Registrarse</ul>
                    <ul>Productos</ul>
                    <ul>Turnos</ul>
                    <ul>Historia Clínica</ul>
                </div>
            </li>
        </nav>
    </header>
    <main>
        <div class="slider">
            <img src="./img/dogFood.jpg" alt="img" class="slider one">
            <img src="#" alt="" class="slider img two">
            <img src="#" alt="" class="slider img three">
        </div>
        <div class="about">
            <div class="about der">
                <img src="../img/dog.jpg" alt="about1" class=" image">
                <p class="about text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quo
                    adipisci? Non rem ex, accusamus aperiam alias sint vel laudantium culpa! Quasi rem ipsum aut. Illo
                    praesentium totam corporis, aspernatur maiores eius velit quisquam quia. Reiciendis deserunt quis
                    beatae dolores?</p>
            </div>
            <div class="about izq">
                <img src="../img/cat.jpg" alt="about2" class="cat">
                <p class="about text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quae autem et, eius
                    expedita dolor officia eaque maiores distinctio ducimus commodi consequuntur vel sequi rerum quasi
                    temporibus labore minima hic quo molestias animi veritatis sapiente! Alias reprehenderit quis esse
                    laudantium praesentium sit odio sunt. Nemo cumque fugiat dignissimos expedita dolorum.</p>
            </div>
            <div class="about der">
                <img src="../img/dogFood.jpg" alt="about3" class="about image">
                <p class="about text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus natus, odio
                    autem ducimus culpa possimus? Facere deleniti quisquam alias autem illum repellendus odio adipisci
                    distinctio quod a quam, illo, aspernatur voluptatum impedit necessitatibus sapiente excepturi modi
                    exercitationem quidem magnam maxime!</p>
            </div>
        </div>
        <div class="news">
            <h3 class="title">Novedades</h3>
            <div class="product">
                <img src="../img/paseo.jpg" alt="product" class="image">
                <div class="product-text">
                    <p class="name">Combo paseo</p>
                    <p class="price">$800</p>
                    <button class="button">Ver</button>
                </div>
            </div>
            <div class="product">
                <img src="../img/dogFood.jpg" alt="product" class="product image">
                <div class="product-text">
                    <p class="name">Comida Pirulo Perro adulto</p>
                    <p class="price">$1000</p>
                    <button class="button">Ver</button>
                </div>
            </div>
            <div class="product">
                <img src="../img/training.jpg" alt="product" class="product image">
                <div class="product-text">
                    <p class="name">Set de entrenamiento</p>
                    <p class="price">$600</p>
                    <button class="button">Ver</button>
                </div>
            </div>
            <div class="product">
                <img src="../img/cat.jpg" alt="product" class="product image">
                <div class="product-text">
                    <p class="name">Gato</p>
                    <p class="price">$200</p>
                    <button class="button">Ver</button>
                </div>
            </div>
            <div class="product-link">
                <img src="../img/training.jpg" alt="imagen productos" class="image">
                <div class="content">
                    <p class="text">Hacé click aquí para ver toda nuestra gama de productos con descuentos
                        y envío gratis.</p>
                    <button class="button products-link">Productos</button>
                </div>
            </div>
        </div>
        <div class="turno">
            <h3 class="title turno">Turnos</h3>
            <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi pariatur laboriosam sit
                mollitia itaque, magni voluptatem, assumenda quam ratione at molestiae architecto minus. Dolorum vero
                maiores porro praesentium numquam tempore repellendus velit deserunt at. Quidem aut quod tempore, quia
                ullam delectus perspiciatis veritatis iure. Mollitia soluta recusandae expedita quaerat itaque vitae
                nemo voluptas beatae dicta modi! Qui inventore iste iure architecto, ipsa, nulla maiores, repellendus
                nihil non rem explicabo quo?</p>
            <div class="turno-link">
                <p class="turno-link text"> Reserva tu turno online de forma rápida y sencilla aquí.</p>
                <button class="button">Reserva de turnos</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="foot-content">
            <div class="contact">
                <p class="text contact">Calle falsa 123</p>
                <p class="text contact">Teléfono: 15490489</p>
                <p class="text contact">Email: vetePepe@perritos.com</p>
            </div>
            <div class="net">
                <p class="net icon"></p>
                <p class="net icon"></p>
                <p class="net icon"></p>
            </div>
        </div>
    </footer>
</body>

</html>