<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria Pepe</title>
</head>

<body>
    <main>
        <form action="/veterinaria/src/views/user/profile.html" method="post" class="form-content">
            <div class="info-content">
                <label for="name" class="label">Nombre</label>
                <input type="text" class="input" id="name">
            </div>
            <div class="info-content">
                <label for="email" class="label">Mail</label>
                <input type="email" class="input" id="email">
            </div>
            <div class="info-content">
                <label for="pass" class="label">Password</label>
                <input type="password" class="input" id="pass">
            </div>
            <div class="info-content">
                <label for="address" class="label">Dirección</label>
                <input type="text" class="input" id="address">
            </div>
            <div class="info-content">
                <label for="tel" class="label">Teléfono</label>
                <input type="text" class="input" id="tel">
            </div>
            <button class="button">Registrarme</button>
        </form>
    </main>
</body>

</html>