<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

    <body>
        <main>
            <p class="entry">Nombre de Usuario: <span class="value">Pepe</span> </p>
            <p class="entry">Mail: <span class="value">pepe.123@hola.com</span> </p>
            <p class="entry">Dirección: <span class="value">Calle Falsa 123</span> </p>
            <p class="entry">Teléfono: <span class="value">12349568</span> </p>
            <button class="button"><a href="#">Modificar</a></button>
        </main>
        <%- include("..partials/footer.ejs") %>
    </body>

</html>