<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

    <body>
        <header>
            <div class="logo-content">
                <img src="#" alt="logo" class="icon logo">
            </div>
            <div class="search-content">
                <input type="text" placeholder="Buscar" class="search bar">
                <button class="btn btn-outline-success">><i class="fas fa-search"></i></button>
            </div>
            <div class="icons-content">
                <i class="far fa-user"></i>
                <button><a href="/user/cart"><i class="fas fa-shopping-cart"></i></a></button>
            </div>
            <button></button>
            <h1 class="title main">Veterinaria Pepe</h1>
            <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page"
                                    href="register">Registrarse</a>
                            </li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page"
                                    href="products">Productos</a>
                            </li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page"
                                    href="user/turnos">Turnos</a>
                            </li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="host/hc">Historia
                                    Clínica</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>

            <!-- CARROUEL -->
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./img/dogFood.jpg" class="d-block w-100" alt="food">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Todo en alimentos</h5>
                            <p>Tenemos todo en alimentación para que tu mascota esté fuerte y sana.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./img/paseo.jpg" class="d-block w-100" alt="paseo">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Diversión</h5>
                            <p>Gran variedad de collares y correas para que se diviertan al aire libre.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./img/dog.jpg" class="d-block w-100" alt="dog">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Veterinaria</h5>
                            <p>Contamos con atención especializada para el mejor cuidado.</p>
                        </div>
                    </div>
                </div>

                <!-- INFORMACION -->
                <div class="about der">
                    <img src="../img/dog.jpg" alt="about1" class=" image">
                    <p class="about text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quo
                        adipisci? Non rem ex, accusamus aperiam alias sint vel laudantium culpa! Quasi rem ipsum aut.
                        Illo
                        praesentium totam corporis, aspernatur maiores eius velit quisquam quia. Reiciendis deserunt
                        quis
                        beatae dolores?</p>
                </div>
                <div class="about izq">
                    <img src="../img/cat.jpg" alt="about2" class="cat">
                    <p class="about text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quae autem et,
                        eius
                        expedita dolor officia eaque maiores distinctio ducimus commodi consequuntur vel sequi rerum
                        quasi
                        temporibus labore minima hic quo molestias animi veritatis sapiente! Alias reprehenderit quis
                        esse
                        laudantium praesentium sit odio sunt. Nemo cumque fugiat dignissimos expedita dolorum.</p>
                </div>
                <div class="about der">
                    <img src="../img/dogFood.jpg" alt="about3" class="about image">
                    <p class="about text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus natus,
                        odio
                        autem ducimus culpa possimus? Facere deleniti quisquam alias autem illum repellendus odio
                        adipisci
                        distinctio quod a quam, illo, aspernatur voluptatum impedit necessitatibus sapiente excepturi
                        modi
                        exercitationem quidem magnam maxime!</p>
                </div>
            </div>

            <!-- NOVEDADES -->
            <div class="news">
                <h3 class="title">Novedades</h3>
                <div class="product">
                    <img src="../img/paseo.jpg" alt="product" class="image">
                    <div class="product-text">
                        <p class="name">Combo paseo</p>
                        <p class="price">$800</p>
                        <button class="btn btn-outline-success">Ver</button>
                    </div>
                </div>
                <div class="product">
                    <img src="../img/dogFood.jpg" alt="product" class="product image">
                    <div class="product-text">
                        <p class="name">Comida Pirulo Perro adulto</p>
                        <p class="price">$1000</p>
                        <button class="btn btn-outline-success">Ver</button>
                    </div>
                </div>
                <div class="product">
                    <img src="../img/training.jpg" alt="product" class="product image">
                    <div class="product-text">
                        <p class="name">Set de entrenamiento</p>
                        <p class="price">$600</p>
                        <button class="btn btn-outline-successn">Ver</button>
                    </div>
                </div>
                <div class="product">
                    <img src="../img/cat.jpg" alt="product" class="product image">
                    <div class="product-text">
                        <p class="name">Gato</p>
                        <p class="price">$200</p>
                        <button class="btn btn-outline-success">Ver</button>
                    </div>
                </div>
                <div class="product-link">
                    <img src="../img/training.jpg" alt="imagen productos" class="image">
                    <div class="content">
                        <p class="text">Hacé click aquí para ver toda nuestra gama de productos con descuentos
                            y envío gratis.</p>
                        <button class="btn btn-outline-success"><a href="products">Productos</a></button>
                    </div>
                </div>
            </div>

            <!-- TURNOS -->
            <div class="turno">
                <h3 class="title turno">Turnos</h3>
                <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi pariatur laboriosam
                    sit
                    mollitia itaque, magni voluptatem, assumenda quam ratione at molestiae architecto minus. Dolorum
                    vero
                    maiores porro praesentium numquam tempore repellendus velit deserunt at. Quidem aut quod tempore,
                    quia
                    ullam delectus perspiciatis veritatis iure. Mollitia soluta recusandae expedita quaerat itaque vitae
                    nemo voluptas beatae dicta modi! Qui inventore iste iure architecto, ipsa, nulla maiores,
                    repellendus
                    nihil non rem explicabo quo?</p>
                <div class="turno-link">
                    <p class="turno-link text"> Reserva tu turno online de forma rápida y sencilla aquí.</p>
                    <button class="btn btn-outline-success"><a href="user/turnos">Reserva de turnos</a></button>
                </div>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>

</html>