<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <form action="hc" method="post">
            <div class="container">
                <label for="mascota" class="label">Nombre de la mascota</label>
                <input type="range" name="mascota" id="mascota" class="input">
            </div>
            <div class="container">
                <label for="vete" class="label">Nombre del veterinario </label>
                <input type="range" name="vete" id="vete" class="input">
            </div>
            <div class="container">
                <label for="date" class="label">Fecha</label>
                <input type="date" name="date" id="date">
            </div>
            <div class="container">
                <label for="time" class="label">Hora</label>
                <input type="range" name="time" id="time" class="input">
            </div>
        </form>
    </main>
</body>

</html>